@import "../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  padding: 0 100px;

  input,
  textarea,
  .select > div {
    border: none;
    outline: none;
    font-family: $title !important;
  }

  .top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    .name {
      font-size: 20px;
      width: 500px;
      color: $secondary;
    }
    .title {
      font-size: 70px;
      width: 100%;

      &::placeholder {
        font-size: 70px;
        font-family: $title;
      }
    }
  }

  .select {
    font-size: 20px;
    margin-top: 24px;

    * {
      outline: none;
      box-shadow: none;

      cursor: pointer !important;

      &:focus,
      :focus-visible {
        outline: none;
        box-shadow: none;
      }
    }

    div {
      transition: all 0.3s ease;
      font-family: $title !important;
      font-size: 20px;
    }
  }

  .description {
    font-size: 20px;
    padding-left: 12px;
  }

  .body {
    height: 300px;
    font-size: 35px;
    padding-left: 12px;
    margin-top: 32px;
    resize: vertical;

    &::placeholder {
      font-size: 35px;
      font-family: $title;
    }
  }

  .submit {
    background-color: rgb(75, 75, 243);
    color: white;
    font-family: $title !important;
    padding: 10px;
    width: 300px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 48px;
    transition: 0.3s ease-out;

    &:hover {
      background-color: rgb(24, 24, 153);
    }
  }
}
