@import "../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  padding: 0 30px !important;

  input,
  textarea,
  .select > div {
    border: none;
    outline: none;
    font-family: $title !important;
  }

  .top {
    padding-left: 12px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .name {
      font-size: 20px;
      width: 100%;
      color: $secondary;
      font-style: italic;

      &:disabled {
        background: transparent;
      }
    }
    .title {
      font-size: 70px;
      width: 100%;

      &::placeholder {
        font-size: 70px;
        font-family: $title;
      }
    }

    hr {
      height: 1px;
      width: 100%;
      border: none;
      background: rgb(226, 225, 225);
    }
  }

  .select {
    font-size: 20px;
    margin-top: 8px;

    * {
      outline: none;
      box-shadow: none;

      cursor: pointer !important;

      &:focus,
      :focus-visible {
        outline: none;
        box-shadow: none;
      }
    }

    div {
      transition: all 0.3s ease;
      font-family: $title !important;
      font-size: 20px;
      float: left;
    }
  }

  .description {
    font-size: 20px;
    padding-left: 12px;
  }

  .body {
    height: 300px;
    font-size: 25px;
    padding-left: 12px;
    margin-top: 32px;
    resize: vertical;

    &::placeholder {
      font-size: 35px;
      font-family: $title;
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    .image {
      margin-top: 32px;
      font-size: 20px;
      text-align: center;
      &::placeholder {
        text-align: center;
      }
    }

    .remove-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .image-name {
      text-align: center;

      margin-top: 32px;
      font-size: 20px;

      &::placeholder {
        text-align: center;
      }
    }

    .thumbnail {
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
  }

  .submit {
    background-color: rgb(75, 75, 243);
    color: white;
    font-family: $title !important;
    padding: 10px;
    width: 300px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 48px;
    transition: 0.3s ease-out;

    &:hover {
      background-color: rgb(24, 24, 153);
    }
  }
}
